/*
Assan saas web app landing template stylesheet
*/
@font-face {
    font-family: 'FontAwesome';
    src: url("../bower_components/font-awesome/fonts/fontawesome-webfont.eot?v=4.7.0");
    src: url("../bower_components/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format('embedded-opentype'),url("../bower_components/font-awesome/fonts/fontawesome-webfont.woff2?v=4.7.0") format('woff2'),url("../bower_components/font-awesome/fonts/fontawesome-webfont.woff?v=4.7.0") format('woff'),url("../bower_components/font-awesome/fonts/fontawesome-webfont.ttf?v=4.7.0") format('truetype'),url("../bower_components/font-awesome/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format('svg');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700');
@import "scss-saas-software/_variables.scss";
@import "scss-saas-software/_base.scss";
@import "scss-saas-software/_preloader.scss";
@import "scss-saas-software/_buttons.scss";
@import "scss-saas-software/_header.scss";
@import "scss-saas-software/_dropdown.scss";
@import "scss-saas-software/_hero-variants.scss";
@import "scss-saas-software/_features-section.scss";
@import "scss-saas-software/_pricing.scss";
@import "scss-saas-software/_clients.scss";
@import "scss-saas-software/_parallax-backgrounds.scss";
@import "scss-saas-software/_tweeter-feeds.scss";
@import "scss-saas-software/_carousel-slider.scss";
@import "scss-saas-software/_footer.scss";

@media(max-width:991px){
    .hero-gradient-dark {
    padding-bottom: 0rem;
    padding-top: 4rem;
}
.navbar-toggler{
         position: absolute;
    right: 15px;
    background-image: none;
    border: 0px;
    padding: 0px;
    top: 1px;
    width: 40px;
    height: 36px;
    line-height: 1;
        .navbar-toggler-icon{
            background-image: none;
            &:after{
                font-family: 'Linearicons';
                content: "\e92b";
                position: absolute;
                right:0;
                font-size: 2em;
                top:3px;
                transition: all .3s;
                -webkit-transition: all .3s;
                color:#000;
                cursor: pointer;
            }
        }
    }
    .navbar .navbar-nav .nav-link{
        border-top: 0px;
    }
    .navbar.navbar-expand-lg {
        .nav-link.btn{
            display: none;
        }
        .navbar-collapse.show{
            height: 250px;
            overflow-y: scroll;
        }
    }
    .dropdown-menu{
        box-shadow: none;
    }
    .feature-img-section{
        text-align: center;
    }
    .feature-list li {
    padding-left: 21px;
    margin-left: 20px;
    display: inline-block;
    }
    .feature-img{
        position: static;
        margin-bottom:30px;
        width:100%;
        display:table;
        margin: 0 auto;
            display: block;
    }
}