<% include partials/header %>
 
    <h1>This is all of the games we have:</h1>
 
    <div class="row">
        <% for(var i = 0;i < gamesData.length; i++){ %>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/games/thumbnails/<%= gamesData[i].thumbnailFile %>" style="height: 180px">
                <div class="card-body">
                <h5 class="card-title"><%= gamesData[i].title %></h5>
                <p class="card-text">Game created by <%= gamesData[i].creator %></p>
                <a href="/game/<%= gamesData[i]._id %>" class="btn btn-primary">Play Game</a>
                </div>
            </div>
        </div>
        <% } %>
    </div>
    
<% include partials/footer %>