/*
hero style
*/

.hero-gradient-light,.hero-gradient-dark,.hero-parallax{
    padding-bottom: 0rem;
    padding-top: 6rem;
    position: relative;
    z-index: 3;
    h3.h1{
        font-size:50px;
        line-height: 58px;
        font-weight: 300;
    }
}
@media (min-width:992px){

}
    .bg-primary-dark,.hero-gradient-light, .hero-gradient-dark, .hero-parallax{
        padding-bottom: 50px;
        position:relative;
        &:after{
            content: "";
            background-image:url(../images/shape.png);
            background-position: center center;
            background-size: auto;
            background-repeat: no-repeat;
            background-attachment: scroll, scroll, scroll;
            position: absolute;
            left:0;
            bottom: 0;
            width: 100%;
            height:90px;
            margin-bottom: 0;
            z-index: 5;
        }
    }