/*
Parallax backgrounds
*/
.bg-parallax{
    background-attachment: fixed;
    background-position: center center;
    position: relative;
    overflow: hidden;

    .container{
        position: relative;
        z-index: 3;
    }
}
    .parallax-overlay{
               background: $primary-dark-color;
    background: -webkit-linear-gradient(left, $primary-dark-color , $primary-color);
    background: -moz-linear-gradient(left, $primary-dark-color , $primary-color);
    background: -webkit-linear-gradient(left, $primary-dark-color , $primary-color);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    opacity:.85;
    z-index: 0;
    }

