$title-font:"Raleway", sans-serif;
$base-font:"Raleway", sans-serif;
$primary-color:#5864d5;
$primary-dark-color:#404aad;
$danger-color:#fa5240;
$success-color:#46da60;
$warning-color:#fa9140;
$default-color:#f2f3f7;
$dark-color:#394c59;
$info-color:#19b0f5;

