/*
Basic of template
*/
html,body,.fullScreen{
    height: 100%;
}
body{   
    font-size: 15px;
    font-weight: 400;
    color:#8b98a9;
    line-height: 1.8;
    letter-spacing: 0em;
    font-family: $base-font;
    overflow-x: hidden;
}
@media(min-width:1200px){
    .container{
        width:1070px;
    }
}
button, input, optgroup, select, textarea{
    font-family: $base-font;
}
button{
    &:focus{
        outline: 0!important;
    }
}
a,.simple-hover img,button,.btn,.pricing-card{
    transition: all 0.3s;
    -webkit-transition: all 0.3s;    
}
a{
    color:$primary-color;
    text-decoration:none;
    &:hover,&:focus{
        text-decoration: none;
        outline: 0!important;
        color:#aeaeae;
    }
}
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
    margin-bottom: .5rem;
    font-family: $title-font;
    font-weight:500;
    line-height: 1.3;
    color:#00363d;
    letter-spacing: 1px;
}
h1,.h1{
    font-size:55px;
}
h2,.h2{
    font-size:40px;
}
h3,.h3{
    font-size:30px;
}
h4,.h4{
    font-size:22px;
}
h5,.h5{
    font-size:20px;
}
h6,.h6{
    font-size:15px;
    font-weight:400;
}
.title-font{
    font-size: 40px;
    line-height: 42px;
    font-weight: 600;
}
.border-btm1 .container{
    position: relative;
    &:after{
        width:100%;
        height: 1px;
        content:"";
        position: absolute;
        bottom: 0;
        left:0;
        border-bottom: 1px solid #eee;
    }
}
hr {
    margin-top: 1rem;
    border: 0;
    border-top: 1px solid rgba($primary-color,.04)
}

.small,small {
    font-size: 80%;
    font-weight: 400
}
ul, ol{
    margin: 0 0 1.5em 0;
}

.font-base-400{
    font-family: $base-font!important;
    font-weight: 400!important;
}
.font-base{
    font-family: $base-font!important;
}
.font300{
    font-weight: 300!important;
}
.font400{
    font-weight: 400!important;
}
.font700{
    font-weight: 700!important;
}
.font900{
    font-weight: 900!important;
}

.label{
    display: inline-block;
    padding: 1px 7px;
    border-radius: 2px;
    font-size:10px;
}
.bg-faded{
    background:#f6f7fc !important;
}
.badge{
    font-weight: 400;
    font-size: 13px;
}
.badge-primary{
    background: $primary-color!important;
}
.bg-primary{
    background: $primary-color!important;
    border-color:$primary-color;
}
.bg-success{
    background: $success-color!important;
    border-color:$success-color;
}
.bg-warning{
    background: $warning-color;
    border-color:$warning-color;
}
.bg-info{
    background-color: $info-color;
    border-color:$info-color;
}
.bg-danger{
    background-color: $danger-color;
    border-color:$danger-color;
}
.bg-dark{
    border-color:$dark-color!important;
    background-color:$dark-color!important;
}
.bg-white{
    background: #fff;
}
.text-primary{
    color: $primary-color!important;
}
.text-danger{
    color: $danger-color!important;
}
.text-success{
    color: $success-color!important;
}
.text-warning{
    color: $warning-color!important;
}
.text-info{
    color: $info-color!important;
}
.text-white{
    color:rgba(#fff,1)!important;
}
.text-dark{
    color:rgba($dark-color,1)!important;
}
.text-white-gray{
    color:rgba(#fff,.8)!important;
}
.text-dark-gray{
    color:rgba($dark-color,.5)!important;
}
.border-round{
    border-radius: 6px;
    -webkit-border-radius: 6px;
}
.pos-relative{
    position:relative;
}

.lead{
    font-weight: 400;
    font-size: 18px;
}
strong,b{
    font-weight: 700;
}
.fWidth{
    width: 100%!important;
}
.oHidden{
    overflow: hidden!important;;
}
strong,b{
    font-weight: 700;
}
.mr0{
    margin-right:0px!important;
}
.pt0{
    padding-top: 0!important;
}
.pt10{
    padding-top: 10px!important;;
}
.pt20{
    padding-top: 20px!important;;
}
.pt30{
    padding-top: 30px!important;;
}
.pt40{
    padding-top: 40px!important;;
}
.pt50{
    padding-top: 50px!important;;
}
.pt60{
    padding-top: 60px!important;;
}
.pt70{
    padding-top: 70px!important;;
}
.pt80{
    padding-top: 80px!important;;
}
.pt90{
    padding-top: 90px!important;;
}
.pt100{
    padding-top: 100px!important;;
}
.pb0{
    padding-bottom: 0!important;
}
.pb10{
    padding-bottom: 10px!important;
}
.pb15{
    padding-bottom: 15px!important;
}
.pb20{
    padding-bottom: 20px!important;
}
.pb30{
    padding-bottom: 30px!important;
}
.pb40{
    padding-bottom: 40px!important;
}
.pb50{
    padding-bottom: 50px!important;
}
.pb60{
    padding-bottom: 60px!important;
}
.pb70{
    padding-bottom: 70px!important;
}
.pb80{
    padding-bottom: 80px!important;
}
.pb90{
    padding-bottom: 90px!important;
}
.pb100{
    padding-bottom: 100px!important;
}
.mb0{
    margin-bottom: 0!important;
}
.mb5{
    margin-bottom: 5px!important;
}
.mb10{
    margin-bottom: 10px!important;
}
.mb20{
    margin-bottom: 20px!important;
}
.mb30{
    margin-bottom: 30px!important;
}
.mb40{
    margin-bottom: 40px!important;
}
.mb50{
    margin-bottom: 50px!important;
}
.mb60{
    margin-bottom: 60px!important;
}
.mb70{
    margin-bottom: 70px!important;
}
.mb80{
    margin-bottom: 80px!important;
}
.mb90{
    margin-bottom: 90px!important;
}
.mb100{
    margin-bottom: 100px!important;
}
.mt5{
    margin-top:5px!important;
}
.mt10{
    margin-top:10px!important;
}
.mt20{
    margin-top:20px!important;
}
.mt30{
    margin-top:30px!important;
}
.mt40{
    margin-top:40px!important;
}
.mt50{
    margin-top:50px!important;
}
.mt60{
    margin-top:60px!important;
}
.mt70{
    margin-top:70px!important;
}
.mt80{
    margin-top:80px!important;
}
.mt90{
    margin-top:90px!important;
}
.mt100{
    margin-top:100px!important;
}
.bg-default{
    background-color: $default-color!important;
}
.bg-gray{
    background-color: #fbfbfb;
}
.pd-card{
    padding: 40px 20px;
}
.bullet-list{
    list-style: circle;
    padding-left: 20px;
    padding-bottom: 0px;
    li{
        padding-bottom: 10px;
    }
}
.back-to-top{
    position: fixed;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    -webkit-radius: 5px;
    bottom: 10px;
    right:10px;
    background: linear-gradient(215deg, $primary-color 0%, rgb(156, 81, 245) 70%, rgb(184, 142, 231) 100%);
    background: -webkitlinear-gradient(215deg, $primary-color 0%, rgb(156, 81, 245) 70%, rgb(184, 142, 231) 100%);
    color: #fff;
    line-height: 50px;
    opacity:0;
    visibility: hidden;
    z-index:9;
    -webkit-transition: -webkit-transform 0.2s ease-out;
    -moz-transition: -moz-transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
    transform: translate3d(0,15px, 0);
    -webkit-transform: translate3d(0,15px, 0);
    i{
        display: block;
        font-size: 16px;
        line-height: 50px;
        text-align: center;
    }
    &:hover{
        box-shadow: 0px 3px 20px rgba(0,0,0,0.2);
        color:#fff;
    }
    &.show{
        opacity:1;
        visibility: visible;
        transform: translate3d(0, 0px, 0);
        -webkit-transform: translate3d(0, 0px, 0);
    }
}

/**preloader**/
.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}
.no-margin{
    margin: 0!important;
}
.no-padding{
    padding-left:0!important;
    padding-right:0!important;
}
.center-img{
    display:block;
    margin:0 auto;
}
.shadow-card{
    box-shadow: 0px 0px 28px rgba(0,0,0,0.1);
    border-radius:5px;
}

.section-title{
    text-align:center;
    position: relative;
    overflow:hidden;
    &:after{
        content: "";
        position: absolute;
        margin-left: -45px;
        width:90px;
        height: 3px;
        background-color: #f9f9f9;
        bottom:0;
        left:50%;
    }
    h3{
        display: inline-block;
        z-index: 2;
        position: relative;
        padding: 3px 10px;
        background-color: #fff;
        text-transform: capitalize;
        font-weight: 400;
        font-size: 2rem;
        letter-spacing: 2px;
    }
}
.form-control{
    min-height: 48px;
    border: 0px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.18);
    &:focus{
        border:0px;
        box-shadow: 0 8px 23px rgba(0,0,0,0.18);
    }
}
.custom-checkbox{
    display: inline-block;
    padding-left: 34px;
    position: relative;
    cursor: pointer;
    .custom-control-indicator{
        position: absolute;
        width:22px;
        height: 22px;
        display: inline-block;
        vertical-align: middle;
        left:0;
        top:2px;
border-radius: 4px;
        border:1px solid rgba($primary-color,.5);
        &:before{
            content: "\e934";
            position: absolute;
            left:-1px;
            top:0;
            font-size:12px;
            border-radius: 4px;
            width:22px;
            height: 22px;
            display:flex;
            align-items: center;
            justify-content: center;
            color:$primary-color;
            font-weight:normal;
            line-height: 1;
            font-family: 'linearicons';
            transform:scale(.5);
            -webkit-transform:scale(.5);
            opacity:0;
            transition: all .3s;
            -webkit-transition: all .3s;
        }
    }
    input{
        position: absolute;
        left:0;
        top:0;
        width: 25px;
        height: 25px;
    }
    input:checked + .custom-control-indicator{
        &:before{
            transform:scale(1);
            -webkit-transform:scale(1);
            opacity:1;
        }
    }
}
.bg-parallax,.bg-dark,.bg-primary,.hero-form{
    .custom-checkbox{
        .custom-control-indicator{
            border-color: rgba(#fff,.75);
            &:before{
                color: rgba(#fff,1);
            }
        }
    }
    .custom-control-description{
        color:#fff;
    }
}