/*
Tweeter feeds style
*/
.tweets-container{
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
        li{
            padding-bottom: 10px;
            color:rgba(#000,.8);
            font-size: 14px;
            font-weight:400;
            a{
                color: $primary-color;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}

