$title-font:  'Dosis', sans-serif;
$base-font:  'Lato', sans-serif;
$primary-color:#4a90e2;
$danger-color:#c9302c;
$success-color:#5cb85c;
$warning-color:#f0ad4e;
$default-color:#f7f7f7;
$dark-color:#22232d;
$info-color:#5bc0de;

