/*
Parallax backgrounds
*/
.gradient-bg-hero{
    position: relative;
    overflow: hidden;
    z-index:3;
    padding-top:8rem;
    padding-bottom:0;
    background: linear-gradient(215deg, $primary-color 0%, rgb(156, 81, 245) 70%, rgb(184, 142, 231) 100%);
    background: -webkitlinear-gradient(215deg, $primary-color 0%, rgb(156, 81, 245) 70%, rgb(184, 142, 231) 100%);
    h3.h1{
             font-weight:400;
    color:#444;
    font-size: 44px;
    line-height: 1.3;
    font-family: $base-font;
    }
}
.hero-gradient-dark{
    padding-bottom: 6rem;
    padding-top: 10rem;
    position: relative;
    z-index: 3;
    h3{
            font-weight:400;
    color:#444;
    font-size: 44px;
    line-height: 1.3;
    font-family: $base-font;
    }
}
.parallax-video-fc{
    position: relative;
    z-index: 3;
    height: 100%;
    overflow: hidden;
}
.fullScreen-particles{
    position: relative;
    height: 100%;
    width:100%;
    overflow: hidden;
    .content-table {
    display: table;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
}