$title-font:"Dosis", sans-serif;
$base-font:"Lato", sans-serif;
$primary-color:#1ecfca;
$primary-dark-color:#344880;
$danger-color:#fa5240;
$success-color:#46da60;
$warning-color:#fa9140;
$default-color:#fbfbfb;
$dark-color:#46495c;
$info-color:#19b0f5;

